{% extends 'base.html' %}

{% load static %}

{% block styles %}
<style media="screen">
    body {
      background-image: url("https://wallpapercave.com/wp/wp2581372.jpg");
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      position: relative;
    }
    h4 {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
}
</style>
{% endblock %}

{% block body %}

<div class="container"></div>
<br><br>
  <center><h4>Welcome to Happy Shop!</h4><br><br>
  <p>Starting as a small business in Houston, Texas year of 2022, we have big dreams. Our passion for fashion and clothing, means that we provide our customers with nothing but the highest quality of products, that are guaranteed to meet their needs and keep them satisfied!</p> 
<br>
  <p>With a motivated team, we strive to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.</p>
<br>
  <br><br><br><br><br><br><br><br><br><br><br>
  <h6><u>Contact Us</u></h6>
  <p>at help@happyshop.com</p></center>
</div>


{% block scripts %}
{% endblock %}

{% endblock %}