{% extends 'base.html' %}

{% load static %}

{% block styles %}

<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Inter&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<style type="text/css">
  p {
    margin: 0.75rem 0 0;
  }

  h5 {
    margin: 0;
    padding: 0;
  }


  .basket-module,
  .basket-labels,
  .basket-product {
    width: 100%;
  }

  input,
  button,
  .basket,
  .basket-module,
  .basket-labels,
  .item,
  .price,
  .quantity,
  .subtotal,
  .basket-product,
  .product-image,
  .product-details {
    float: left;
  }

  .price:before,
  .subtotal:before,
  .subtotal-value:before,
  .total-value:before,
  .promo-value:before {
    content: '$';
  }

  .hide {
    display: none;
  }
  .basket,
  aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .basket {
    width: 80%;
  }

  .basket-module {
    color: #111;
  }

  label {
    display: block;
    margin-bottom: 0.3125rem;
  }

  .promo-code-field {
    border: 1px solid #ccc;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 35%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-right: 15px;
  }

  .promo-code-field:hover,
  .promo-code-field:focus {
    border: 1px solid #999;
  }

  .promo-code-cta {
    width: 20%;
  }

  .basket-labels {
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
  }

  .item {
    width: 55%;
  }

  .price,
  .quantity,
  .subtotal {
    width: 15%;
  }

  .subtotal {
    text-align: right;
  }

  .remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
  }

  .remove button {
    font-size: 9px;
    text-transform: uppercase;
  }

  .item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
  }

  .product-image {
    width: 35%;
  }

  .product-details {
    width: 65%;
  }

  .product-frame {
    border: 1px solid #aaa;
  }

  .product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.825rem;
    padding: 2px;
    width: 3.75rem;
  }

  aside {
    float: right;
    position: relative;
    width: 30%;
  }

  .summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
  }

  .summary-subtotal,
  .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }

  .subtotal-title,
  .subtotal-value,
  .total-title,
  .total-value,
  .promo-title,
  .promo-value {
    color: #111;
    float: left;
    width: 50%;
  }

  .summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .promo-title {
    float: left;
    width: 70%;
  }

  .promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
  }

  .summary-delivery {
    padding-bottom: 3rem;
  }

  .subtotal-value,
  .total-value {
    text-align: right;
  }

  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .summary-checkout {
    display: block;
  }

  .checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
  }

  .summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
  }

  @media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
      width: 100%;
    }
    .basket-labels {
      display: none;
    }
    .basket-module {
      margin-bottom: 1rem;
    }
    .item {
      margin-bottom: 1rem;
    }
    .product-image {
      width: 40%;
    }
    .product-details {
      width: 60%;
    }
    .price,
    .subtotal {
      width: 33%;
    }
    .quantity {
      text-align: center;
      width: 34%;
    }
    .quantity-field {
      float: none;
    }
    .remove {
      bottom: 0;
      text-align: left;
      margin-top: 0.75rem;
      position: relative;
    }
    .remove button {
      padding: 0;
    }
    .summary {
      margin-top: 1.25rem;
      position: relative;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
      padding: 0 1rem 0 0;
    }
    .summary {
      width: 28%;
    }
  }
</style>

{% endblock %}

{% block body %}

<div class="container d-flex mt-5">
  <div class="basket">
    <div class="basket-labels">
      <ul>
        <li class="item">Item</li>
        <li class="price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Subtotal</li>
      </ul>
    </div>
    {% for i in cart %}
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{i.product.photo1.url}}" alt="Placholder Image 2" class="product-frame" width="160" height="160">
          </div>
          <div class="product-details">
            <h5>{{i.product.brand}} | {{i.product.title}}</h5>
            <p><small>{{i.product.description}}</small></p>
          </div>
        </div>
        <div class="price">{{i.product.price}}</div>
        <div class="quantity">
          <input type="number" value="1" min="1" class="quantity-field">
        </div>
        <div class="subtotal">{{i.product.price}}</div>
        <div class="remove">
          <button type="button" class="btn btn-danger removeButton"><a href="{% url 'shopapp:delete_from_cart' i.product.id %}" style="color:white;">Remove from cart</a></button>
          <!-- <button type="button" class="btn btn-danger removeButton">Remove</button> -->

        </div>
      </div>
    {% endfor %}
    <div class="basket-module mt-5">
      <label for="promo-code">Enter a promotional code (Ex: 10OFF)</label>
      <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
      <button class="promo-code-cta btn btn-secondary" type="button">Apply</button>
    </div>
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Subtotal</div>
        <div class="subtotal-value final-value" id="basket-subtotal">0.00</div>
        <div class="subtotal-title"><small>Estimated Tax</small></div>
        <div class="subtotal-value final-value" id="basket-tax">0.00</div>
        <div class="summary-promo hide">
          <div class="promo-title">Promotion</div>
          <div class="promo-value final-value" id="basket-promo"></div>
        </div>
      </div>
      <div class="summary-delivery">
        <select name="delivery-collection" class="summary-delivery-selection">
          <option value="0" selected="selected">Select Delivery</option>
           <option value="first-class">USPS First-Class Mail</option>
           <option value="second-class">USPS Priority Mail</option>
           <option value="signed-for">UPS Mail Special Delivery</option>
        </select>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>

        <div class="total-value final-value" id="basket-total">0.00</div>
      </div>
    </div>
  </aside>
</div>

<hr><br>
<div class="container">
  <h1 style="text-align:center;">Checkout</h1>
  <div class="row" >
    <div class="col-md-12 mt-3 d-flex " style="justify-content: center;">
      <form action="{% url 'shopapp:checkout' %}" method="post" id="payment-form">
        {% csrf_token %}
        <div class="form-field-6">
          <input required name="amount" value="" id="stripe_amount">
        </div>

        <div class="form-field-6">
          <input required type="text" name="email" placeholder="Email...">
        </div>
        <div class="form-field-6">
          <input required type="text" name="nickname" placeholder="Name...">
        </div>


        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <div style="clear:left"></div>
        <hr>

        <input  class="myButton" type="submit" value="Submit Payment" name="">

      </form>
    </div>
  </div>
</div>



{% block scripts %}
<script>

  // Create a Stripe client.
  var stripe = Stripe('pk_test_51KkfWMKqLUf6DKofWPgANtQzpbxrCIeI8Bdr3m4Jo2YIYXaYZH7YQJQWR59rMuDndW4FeF4PDUVFAcrfAM0iFMAI009MibAPKv');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }



  var promoCode;
  var promoPrice;
  var fadeTime = 300;
  var taxRate = 0.05;

  /* Assign actions */
  $('.quantity input').change(function() {
    updateQuantity(this);
  });

  $('.remove button').click(function() {
    removeItem(this);
  });

  $(document).ready(function() {
    recalculateCart();
  });

  $('.promo-code-cta').click(function() {

    promoCode = $('#promo-code').val();

    if (promoCode == '10off' || promoCode == '10OFF') {
      if (!promoPrice) {
        promoPrice = 10;
      } else if (promoCode) {
        promoPrice = promoPrice * 1;
      }
    }
    else if (promoCode == '20off' || promoCode == '20OFF') {
      if (!promoPrice) {
        promoPrice = 20;
      } else if (promoCode) {
        promoPrice = promoPrice * 1;
      }
    }else if (promoCode != '') {
      alert("Invalid Promo Code");
      promoPrice = 0;
    }
    //If there is a promoPrice that has been set (it means there is a valid promoCode input) show promo
    if (promoPrice) {
      $('.summary-promo').removeClass('hide');
      $('.promo-value').text(promoPrice.toFixed(2));
      recalculateCart(true);
    }

  });

  /* Recalculate cart */
  function recalculateCart(onlyTotal) {
    var subtotal = 0;

    /* Sum up row totals */
    $('.basket-product').each(function() {
      subtotal += parseFloat($(this).children('.subtotal').text());
    });

    /* Calculate totals */
    var tax = subtotal * taxRate;
    var total = subtotal + tax;;

    //If there is a valid promoCode, and subtotal < 10 subtract from total
    var promoPrice = parseFloat($('.promo-value').text());
    if (promoPrice) {
      if (subtotal >= 10) {
        total -= promoPrice;
      } else {
        alert('Order must be more than $10 for Promo code to apply.');
        $('.summary-promo').addClass('hide');
      }
    }

    /*If switch for update only total, update only total display*/
    if (onlyTotal) {
      /* Update total display */
      $('.total-value').fadeOut(fadeTime, function() {
        $('#basket-total').html(total.toFixed(2));
        $('.total-value').fadeIn(fadeTime);
      });
    } else {
      /* Update summary display. */
      $('.final-value').fadeOut(fadeTime, function() {
        $('#basket-subtotal').html(subtotal.toFixed(2));
        $('#basket-tax').html(tax.toFixed(2));
        $('#basket-total').html(total.toFixed(2));
        if (total == 0) {
          $('.checkout-cta').fadeOut(fadeTime);
        } else {
          $('.checkout-cta').fadeIn(fadeTime);
        }
        $('.final-value').fadeIn(fadeTime);
      });
    }

    updateStripe(total);

  }

  function updateQuantity(quantityInput) {
    var productRow = $(quantityInput).parent().parent();
    var price = parseFloat(productRow.children('.price').text());
    var quantity = $(quantityInput).val();
    var linePrice = price * quantity;

    productRow.children('.subtotal').each(function() {
      $(this).fadeOut(fadeTime, function() {
        $(this).text(linePrice.toFixed(2));
        recalculateCart();
        $(this).fadeIn(fadeTime);
      });
    });

    productRow.find('.item-quantity').text(quantity);
    updateSumItems();

  }

  function updateSumItems() {
    var sumItems = 0;
    $('.quantity input').each(function() {
      sumItems += parseInt($(this).val());
    });
    $('.total-items').text(sumItems);
  }

  /* Remove item from cart */
  function removeItem(removeButton) {
    /* Remove row from DOM and recalc cart total */
    var productRow = $(removeButton).parent().parent();
    productRow.slideUp(fadeTime, function() {
      productRow.remove();
      recalculateCart();
      updateSumItems();
    });
  }






  function updateStripe(param1){
    // var checkout_final_cart = document.getElementById("basket-total").innerText;
    updated = param1.toFixed(2);

    var checkout_final_stripe = document.getElementById("stripe_amount").value = updated;
  }

  </script>
{% endblock %}

{% endblock %}
